<html>
    <body>
        <h1>My Collection</h1>
        <% cardInfo.forEach(card=>{ %>
            <div class="card-info">
                <img src="<%= card.picture%>" alt="card image">
                <h2><%= card.name %></h2>
                <h2><%= card.expansion %></h2>
                <p><%= card.price %></p>
            </div>
        <% }); %>
    </body>
</html>