<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a class="nav-pages" href="/">Main Page</a></li>
                <li><a class="nav-pages" href="/card">Cards</a></li>
                <li><a class="nav-pages" href="/set">Sets</a></li>
                <li><a class="nav-pages" href="/collection"> Collection</a></li>
            </ul>
        </nav>
    </body>
</html>