<html>
    <body>
        <nav>
            <ul>
                <li><a href="/">Main Page</a></li>
                <li><a href="/cardList">Cards</a></li>
                <li><a href="/expansion">Expansions</a></li>
                <li><a href="/collection"> Collection</a></li>
            </ul>
        </nav>
    </body>
</html>