<html>
    <body>
        <% cardList.forEach(card => { %>
            <div class="card-info">
                <img src="<%= card.picture%>" alt="card image">
                <h2><%= card.name %></h2>
                <h2><%= card.set.name %></h2>
                <p><%= card.tcgplayer.prices.holofoil.market %></p>
            </div>
        <% }); %>
    </body>
</html>