<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Application</title>
</head>
<body>
    <h1>Pokemon TCG Inventory Application</h1>
    <%- include('./partials/navbar.ejs') %>
    <h3>Welcome to my <strong>Pokemon TCG Inventory Application</strong></h3>
</body>
</html>